[submodule "libaeron-sys/aeron"]
	path = libaeron-sys/aeron
	url = https://github.com/aeron-io/aeron.git
[submodule "libaeron_driver-sys/aeron"]
	path = libaeron_driver-sys/aeron
	url = https://github.com/aeron-io/aeron.git
[submodule "libaeron_archive_c_client-sys/aeron"]
	path = libaeron_archive_c_client-sys/aeron
	url = https://github.com/aeron-io/aeron.git
